# Let's get familiar with DataBento TBBO data
This dataset contains trades and bid/ask quotes. Here are documentation references:
- [market data schemas](https://docs.databento.com/knowledge-base/new-users/market-data-schemas)
- [TBBO fields](https://docs.databento.com/knowledge-base/new-users/fields-by-schema/tbbo-tbbo)
- [Standards and conventions](https://docs.databento.com/knowledge-base/new-users/standards-conventions)
-

In [47]:
import databento as dbn
import pandas as pd
import os
from IPython import display

In [48]:
# setup the DataBento client
dbn_api_key = os.environ.get('DATABENTO_API_KEY')
client = dbn.Historical(dbn_api_key)

## Loading TBBO data from files
The TBBO data is stored in .zst files. We will load the data from these files into a single pandas dataframe. The index is the event timestamp. We'll convert it to US/Pacific timezone for familiarity.
Here are a few things to note:
- The index isn't guaranteed to be unique. It's possible that multiple events occur at the same timestamp.
- The dataset can potentially contain trades from multiple symbols, including spreads. 
- Action will always be 'T' (trade) for this dataset
- Side can contain 'N' (none). This happens when the trade aggressor is not known.
-

In [42]:
# create a list of .zst files in the TBBO directory
path = 'TBBO'
files = [f for f in os.listdir(path) if f.endswith('.zst')]

dfs = []
# load[ all the files into a single DBNStore object
for file in files:
    stored_data = dbn.DBNStore.from_file(os.path.join(path, file))
    dfs.append(stored_data.to_df())
    
# concatenate the dataframes
df = pd.concat(dfs)
 
df.sort_values(by=['ts_event', 'sequence'], inplace=True)
df['ts_event_tz'] = pd.to_datetime(df['ts_event'], unit='s', utc=True).dt.tz_convert('US/Pacific')
df.set_index('ts_event_tz', inplace=True)

In [49]:
display.display(df.head(5), df.tail(5), df.loc['2024-01-17 09:30:00-08:00':].head(5))

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,ts_in_delta,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol
ts_event_tz,,,,,,,,,,,,,,,,,,,
2024-01-14 15:00:00-08:00,2024-01-14 23:00:00+00:00,1,1,17077,T,N,0,4812.00,34,0,19053,3508,4815.00,4809.0,1,6,1,2,ESH4
2024-01-14 15:00:00.023805403-08:00,2024-01-14 23:00:00.023805403+00:00,1,1,17077,T,B,0,4812.00,2,0,36177,3509,4811.75,4812.0,6,9,4,2,ESH4
2024-01-14 15:00:00.080956823-08:00,2024-01-14 23:00:00.080956823+00:00,1,1,17077,T,A,0,4811.75,8,0,16509,3634,4811.75,4812.0,8,4,6,4,ESH4
2024-01-14 15:00:00.080956823-08:00,2024-01-14 23:00:00.080956823+00:00,1,1,17077,T,A,0,4811.50,8,0,16509,3634,4811.75,4812.0,8,4,6,4,ESH4
2024-01-14 15:00:00.081380087-08:00,2024-01-14 23:00:00.081380087+00:00,1,1,17077,T,B,0,4812.00,1,0,15767,3636,4811.50,4812.0,47,4,1,4,ESH4

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,ts_in_delta,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol
ts_event_tz,,,,,,,,,,,,,,,,,,,
2024-01-19 13:59:59.386154199-08:00,2024-01-19 21:59:59.386154199+00:00,1,1,17077,T,B,0,4870.25,1,0,16493,33041165,4869.75,4870.25,84,2,38,2,ESH4
2024-01-19 13:59:59.403957967-08:00,2024-01-19 21:59:59.403957967+00:00,1,1,17077,T,B,0,4870.25,3,0,15568,33041171,4869.75,4870.25,83,9,37,3,ESH4
2024-01-19 13:59:59.404231169-08:00,2024-01-19 21:59:59.404231169+00:00,1,1,17077,T,B,0,4870.25,1,0,15735,33041174,4869.75,4870.25,83,7,37,2,ESH4
2024-01-19 13:59:59.602268841-08:00,2024-01-19 21:59:59.602268841+00:00,1,1,17077,T,B,0,4870.25,1,0,15934,33041179,4869.75,4870.25,83,8,37,3,ESH4
2024-01-19 13:59:59.791069307-08:00,2024-01-19 21:59:59.791069307+00:00,1,1,17077,T,A,0,4869.75,4,0,16323,33041299,4869.75,4870.25,83,7,37,3,ESH4

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,ts_in_delta,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol
ts_event_tz,,,,,,,,,,,,,,,,,,,
2024-01-17 09:30:00.001165473-08:00,2024-01-17 17:30:00.001165473+00:00,1,1,17077,T,B,0,4763.25,11,0,16265,15535347,4763.00,4763.25,77,11,34,8,ESH4
2024-01-17 09:30:00.001496505-08:00,2024-01-17 17:30:00.001496505+00:00,1,1,17077,T,A,0,4763.25,3,0,15603,15535360,4763.25,4763.50,26,84,8,42,ESH4
2024-01-17 09:30:00.001543909-08:00,2024-01-17 17:30:00.001543909+00:00,1,1,17077,T,A,0,4763.25,2,0,18363,15535361,4763.25,4763.50,23,85,6,43,ESH4
2024-01-17 09:30:00.001737377-08:00,2024-01-17 17:30:00.001737377+00:00,1,1,17077,T,A,0,4763.25,8,0,17002,15535363,4763.25,4763.50,24,79,9,39,ESH4
2024-01-17 09:30:00.001737553-08:00,2024-01-17 17:30:00.001737553+00:00,1,1,17077,T,A,0,4763.25,9,0,15879,15535364,4763.25,4763.50,16,79,8,39,ESH4

In [50]:
# Print some basic information about the dataframe
print(df.shape)

# print the range of values in symbol column
print(f"Unique symbols: %s", df['symbol'].unique())
print(f"Unique rtypes: %s", df['rtype'].unique())
print (f"Unique publisher_ids: %s", df['publisher_id'].unique())
print (f"Unique instrument_ids: %s", df['instrument_id'].unique())
print (f"Unique actions: %s", df['action'].unique())
print (f"Unique sides: %s", df['side'].unique())
print (f"Unique flags: %s", df['flags'].unique())

(1736345, 19)
Unique symbols: %s ['ESH4' 'ESM4' 'ESH4-ESM4' 'ESU4' 'ESH4-ESU4' 'ESH5' 'ESZ4' 'ESH4-ESZ4'
 'ESM4-ESU4' 'ESZ5']
Unique rtypes: %s [1]
Unique publisher_ids: %s [1]
Unique instrument_ids: %s [ 17077   5602  17684    118  36395   5002 183748  18349   4155 294973]
Unique actions: %s ['T']
Unique sides: %s ['N' 'B' 'A']
Unique flags: %s [0]

In [51]:
# how many records for each symbol
print(df['symbol'].value_counts())

symbol
ESH4         1733106
ESM4            2131
ESH4-ESM4        864
ESU4             159
ESH4-ESU4         50
ESM4-ESU4         26
ESZ4               5
ESH4-ESZ4          2
ESH5               1
ESZ5               1
Name: count, dtype: int64

In [52]:
# how many records for each have a side of 'N'
print(df['side'].value_counts())

side
B    883414
A    852922
N         9
Name: count, dtype: int64

## Filtering and augmenting the data
This data doesn't have a rollover in it, so we can safely filter on the symbol. ESH4 is the active contract for the first quarter of 2024.

We also want to add columns for RTH, European, Asian, and all other non-RTH.

In [55]:
# filter the data to only include ESH4


# add boolean columns for US and UK RTH . We'll use the timestamp to determine the session:
# - US_RTH 6:30am - 1:00pm M-F
# - UK_RTH: 12:00am - 8:30am  M-F
df['US_RTH'] = (df.index.dayofweek < 5) & (df.index.hour >= 6) & (df.index.hour < 13) # this doesn't capture the day of week
df['UK_RTH'] =  (df.index.dayofweek < 5) & (df.index.hour >= 0) & (df.index.hour < 8.5) # this doesn't capture the day of week

In [58]:
display.display(
    df.head(5),  # should be US_RTH = False, UK_RTH = False
    df.tail(5),  # should be US_RTH = True, UK_RTH = False (was surprising, but correct. Globex is open later than NYSE on Fridays I think)
    df.loc['2024-01-16 00:00:00-08:00':].head(5), # should be US_RTH = False, UK_RTH = True   
    df.loc['2024-01-17 06:30:00-08:00':].head(5), # should be US_RTH = True, UK_RTH = True
    df.loc['2024-01-17 10:00:00-08:00':].head(5)   # should be US_RTH = True, UK_RTH = False
)

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,...,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol,US_RTH,UK_RTH
ts_event_tz,,,,,,,,,,,,,,,,,,,,,
2024-01-14 15:00:00-08:00,2024-01-14 23:00:00+00:00,1,1,17077,T,N,0,4812.00,34,0,...,3508,4815.00,4809.0,1,6,1,2,ESH4,False,False
2024-01-14 15:00:00.023805403-08:00,2024-01-14 23:00:00.023805403+00:00,1,1,17077,T,B,0,4812.00,2,0,...,3509,4811.75,4812.0,6,9,4,2,ESH4,False,False
2024-01-14 15:00:00.080956823-08:00,2024-01-14 23:00:00.080956823+00:00,1,1,17077,T,A,0,4811.75,8,0,...,3634,4811.75,4812.0,8,4,6,4,ESH4,False,False
2024-01-14 15:00:00.080956823-08:00,2024-01-14 23:00:00.080956823+00:00,1,1,17077,T,A,0,4811.50,8,0,...,3634,4811.75,4812.0,8,4,6,4,ESH4,False,False
2024-01-14 15:00:00.081380087-08:00,2024-01-14 23:00:00.081380087+00:00,1,1,17077,T,B,0,4812.00,1,0,...,3636,4811.50,4812.0,47,4,1,4,ESH4,False,False

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,...,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol,US_RTH,UK_RTH
ts_event_tz,,,,,,,,,,,,,,,,,,,,,
2024-01-19 13:59:59.386154199-08:00,2024-01-19 21:59:59.386154199+00:00,1,1,17077,T,B,0,4870.25,1,0,...,33041165,4869.75,4870.25,84,2,38,2,ESH4,False,False
2024-01-19 13:59:59.403957967-08:00,2024-01-19 21:59:59.403957967+00:00,1,1,17077,T,B,0,4870.25,3,0,...,33041171,4869.75,4870.25,83,9,37,3,ESH4,False,False
2024-01-19 13:59:59.404231169-08:00,2024-01-19 21:59:59.404231169+00:00,1,1,17077,T,B,0,4870.25,1,0,...,33041174,4869.75,4870.25,83,7,37,2,ESH4,False,False
2024-01-19 13:59:59.602268841-08:00,2024-01-19 21:59:59.602268841+00:00,1,1,17077,T,B,0,4870.25,1,0,...,33041179,4869.75,4870.25,83,8,37,3,ESH4,False,False
2024-01-19 13:59:59.791069307-08:00,2024-01-19 21:59:59.791069307+00:00,1,1,17077,T,A,0,4869.75,4,0,...,33041299,4869.75,4870.25,83,7,37,3,ESH4,False,False

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,...,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol,US_RTH,UK_RTH
ts_event_tz,,,,,,,,,,,,,,,,,,,,,
2024-01-16 00:00:00.093472091-08:00,2024-01-16 08:00:00.093472091+00:00,1,1,17077,T,A,0,4797.25,10,0,...,2172972,4797.25,4797.5,23,39,9,26,ESH4,False,True
2024-01-16 00:00:00.093472269-08:00,2024-01-16 08:00:00.093472269+00:00,1,1,17077,T,A,0,4797.25,2,0,...,2172973,4797.25,4797.5,13,39,1,26,ESH4,False,True
2024-01-16 00:00:00.093571851-08:00,2024-01-16 08:00:00.093571851+00:00,1,1,17077,T,A,0,4797.25,1,0,...,2172973,4797.25,4797.5,11,39,1,26,ESH4,False,True
2024-01-16 00:00:00.093686047-08:00,2024-01-16 08:00:00.093686047+00:00,1,1,17077,T,A,0,4797.25,1,0,...,2172974,4797.25,4797.5,10,39,1,26,ESH4,False,True
2024-01-16 00:00:00.093712887-08:00,2024-01-16 08:00:00.093712887+00:00,1,1,17077,T,A,0,4797.25,3,0,...,2172975,4797.25,4797.5,9,39,1,26,ESH4,False,True

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,...,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol,US_RTH,UK_RTH
ts_event_tz,,,,,,,,,,,,,,,,,,,,,
2024-01-17 06:30:00.000234483-08:00,2024-01-17 14:30:00.000234483+00:00,1,1,17077,T,A,0,4766.00,4,0,...,12708531,4766.00,4766.25,7,58,7,31,ESH4,True,True
2024-01-17 06:30:00.000237901-08:00,2024-01-17 14:30:00.000237901+00:00,1,1,17077,T,A,0,4766.00,3,0,...,12708532,4766.00,4766.25,3,58,3,31,ESH4,True,True
2024-01-17 06:30:00.001651859-08:00,2024-01-17 14:30:00.001651859+00:00,1,1,17077,T,A,0,4765.75,29,0,...,12708534,4765.75,4766.00,81,2,40,1,ESH4,True,True
2024-01-17 06:30:00.001729635-08:00,2024-01-17 14:30:00.001729635+00:00,1,1,17077,T,B,0,4766.00,2,0,...,12708535,4765.75,4766.00,52,2,22,1,ESH4,True,True
2024-01-17 06:30:00.001840315-08:00,2024-01-17 14:30:00.001840315+00:00,1,1,17077,T,A,0,4766.00,2,0,...,12708536,4766.00,4766.25,9,59,2,32,ESH4,True,True

,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,flags,...,sequence,bid_px_00,ask_px_00,bid_sz_00,ask_sz_00,bid_ct_00,ask_ct_00,symbol,US_RTH,UK_RTH
ts_event_tz,,,,,,,,,,,,,,,,,,,,,
2024-01-17 10:00:00.021518221-08:00,2024-01-17 18:00:00.021518221+00:00,1,1,17077,T,A,0,4764.5,2,0,...,15824436,4764.5,4764.75,63,47,30,17,ESH4,True,False
2024-01-17 10:00:00.033125255-08:00,2024-01-17 18:00:00.033125255+00:00,1,1,17077,T,A,0,4764.5,1,0,...,15824455,4764.5,4764.75,63,28,30,14,ESH4,True,False
2024-01-17 10:00:00.033983113-08:00,2024-01-17 18:00:00.033983113+00:00,1,1,17077,T,A,0,4764.5,3,0,...,15824460,4764.5,4764.75,63,29,30,15,ESH4,True,False
2024-01-17 10:00:00.226926207-08:00,2024-01-17 18:00:00.226926207+00:00,1,1,17077,T,A,0,4764.5,2,0,...,15824547,4764.5,4764.75,63,59,31,28,ESH4,True,False
2024-01-17 10:00:00.265875071-08:00,2024-01-17 18:00:00.265875071+00:00,1,1,17077,T,A,0,4764.5,1,0,...,15824557,4764.5,4764.75,63,59,32,28,ESH4,True,False

## Let's chart some things
- first let's chart the volume delta for three things:
- - US RTH (resets daily)
- - UK RTH (resets daily)
- when US-RTH is false (overnight session) resets at US RTH close

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# create a new column for volume delta (bid size - ask size)